<%= @game.turn.name %> attacked <%= @game.opponent.name %><br>
<%= @game.opponent.name %> HP = <%= @game.opponent.hit_points %>
<form action="/switch" method="post">
  <input type="submit" value="OK">
</form>
